.productList {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(456px, 1fr));
    grid-column: 3;
    row-gap: 30px;
    column-gap: 20px;
}

@media screen and (max-width: 480px) {
    .productList {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}