.product {
    display: flex;
    flex-direction: column;
    row-gap: 6px;

    cursor: pointer;

    &__img {
        width: 100%;
        height: auto;
    }

    &:hover {
        .info__list {
            visibility: hidden;
            opacity: 0;
        }

        .info__sizes {
            visibility: visible;
            opacity: 1;
        }
    }
}

.info {
    display: flex;
    flex-direction: column;
    row-gap: 2px;

    position: relative;

    &__list {
        visibility: visible;
        opacity: 1;

        transition: .2s;
    }

    &__title {
        color: #000;
        font-family: "PT Root UI";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__prices {
        display: flex;
        column-gap: 6px;
    }

    &__price {
        color: rgba(0, 0, 0, 0.30);

        font-family: "PT Root UI";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &_new {
            color: #000;
        }
    }

    &__sizes {
        visibility: hidden;
        opacity: 0;

        transition: .2s;

        display: flex;
        column-gap: 10px;

        position: absolute;
        top: 0px;
    }

    &__size {
        color: #000;

        font-family: "PT Root UI";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        &_disable {
            color: rgba(0, 0, 0, 0.60);
        }
    }
}